
<br><br>
<img src="https://upload.wikimedia.org/wikipedia/commons/1/19/C_Logo.png"  width="200" height="220" style="float:right">
<main class="form-signin w-100 m-100">

    <form>   
      <h1 class="h3 mb-3 fw-normal">Register</h1>
  
      <div class="form-floating">
        <input class="form-control"  placeholder="Complete Name">
        <label>Complete Name</label>
      </div>
      
      <div class="form-floating">
        <input class="form-control" placeholder="name@example.com">
        <label>Email address</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="form-floating">
        <input class="form-control" placeholder="Password Confirm">
        <label>Password Confirm</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button> 
    </form>
  </main>


