<br><br><br><br><br><br>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sm-12 text-left">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/C_Logo.png"  width="200" height="220" style="float:right">
            <h1 class="display-1">charbook</h1>
            <p class="display-6">Connect with friends and the world </p>
            <p class="display-6">around you on Charbook.</p>
           
        </div>
        
    </div>
</div>


